// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.1)
$color-highlight-background = #e6e6e6
$color-dialog-background = #f9f9f9
$color-theme = #31c27c
$color-theme-d = rgba(22, 185, 91, 0.5)
$color-sub-theme = #d93f30
$color-text = #333
$color-text-d = rgba(0, 0, 0, 0.5)
$color-text-l = rgba(0, 0, 0, 0.4)
$color-text-ll = rgba(0, 0, 0, 0.2)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px